/* .quire-cover .quire-page__content .container.is-fluid {
    max-width: 1200px;
    width: 1200px;
} */

.quire-cover__hero {
  background-color: rgba(192,192,192);
  background-image: none;
}

.quire-cover__overlay {
  left: -40px;
}
.quire-cover .quire-page__content {
    padding-bottom: 40px;
}

.quire:not(.no-js) .quire__secondary.is-expanded {
    width: calc(372px - 2em);
}
.quire:not(.no-js) .quire__secondary.is-expanded+.quire__primary {
    -webkit-transform: translate3d(calc(-372px + 2em), 0, 0);
    transform: translate3d(calc(-372px + 2em), 0, 0);
}

.credits {
  display: flex;
}

.credits img {
  vertical-align: top;
}
.credits .organiser {
  width: 40%;
  padding: 20px;
}
.credits .supporter {
  width: 60%;
  padding: 20px;
}

.credits .organiser img {
  height: 80px;
  width: auto;
  padding: 10px;
}
.credits .supporter img#USGC-logo {
  height: 110px;
  width: auto;
}
.credits .supporter img#IPNHK-logo {
  height: 130px;
  width: auto;
  margin-top: -12px;
  padding-left: 40px;
}

.section:focus {
    outline: none !important;
}


#fig_7_Silk_script, #fig_8_Silk_script {
  width: 50% !important;
}

.quire-page__content .container .content {
    margin-top: 0px;
}

#site-menu  {
  background-color: rgba(192,192,192);
  background-image: url('../img/silk_poem_strand.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  border-left: 2px solid #000;
}

.quire__secondary a, .quire__secondary button, .quire__secondary .button {
  background-color: transparent;
}


.quire-cover .quire-contributors-list {
  float: left;
  padding: 20px;
  width: 50%;
}
.quire-cover .quire-contents-buttons {
  clear: both;
}
.quire-cover .quire-contributor__pic {
  width: 140px;
}

.quire-contributor__pic {
  border-radius: 0;
}

.cover-colophon {
    background-color: #ddd;
    font-weight: 400;
    padding-bottom: 1.5em;
    padding-top: 1.5em;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
}
.cover-colophon-inner {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 0.7em;
}
.colophon-text {
    float: left;
    margin-left: 1.4em;
}
.colophon-links {
    padding: 1em 1em;
}
.colophon-logo {
    float: right;
    margin-right: 1.4em;
    padding-top: 1.4em;
}

#installation .quire-figure, #exhibition .quire-figure {
  border: none;
}


@font-face {
  font-family: "IBM Plex Sans Condensed";
  src: url("/jen-bervin/fonts/ibm-plex-sans-condensed/ibmplexsanscondensed-regular.eot");
  src: url("/jen-bervin/fonts/ibm-plex-sans-condensed/ibmplexsanscondensed-regular.eot?#iefix") format("embedded-opentype"), url("/jen-bervin/fonts/ibm-plex-sans-condensed/ibmplexsanscondensed-regular.woff2") format("woff2"), url("/jen-bervin/fonts/ibm-plex-sans-condensed/ibmplexsanscondensed-regular.woff") format("woff"), url("/jen-bervin/fonts/ibm-plex-sans-condensed/ibmplexsanscondensed-regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: "IBM Plex Sans Condensed";
  src: url("/jen-bervin/fonts/ibm-plex-sans-condensed/ibmplexsanscondensed-italic.eot");
  src: url("/jen-bervin/fonts/ibm-plex-sans-condensed/ibmplexsanscondensed-italic.eot?#iefix") format("embedded-opentype"), url("/jen-bervin/fonts/ibm-plex-sans-condensed/ibmplexsanscondensed-italic.woff2") format("woff2"), url("/jen-bervin/fonts/ibm-plex-sans-condensed/ibmplexsanscondensed-italic.woff") format("woff"), url("/jen-bervin/fonts/ibm-plex-sans-condensed/ibmplexsanscondensed-italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic; }

@font-face {
  font-family: "IBM Plex Sans Condensed";
  src: url("/jen-bervin/fonts/ibm-plex-sans-condensed/ibmplexsanscondensed-bold.eot");
  src: url("/jen-bervin/fonts/ibm-plex-sans-condensed/ibmplexsanscondensed-bold.eot?#iefix") format("embedded-opentype"), url("/jen-bervin/fonts/ibm-plex-sans-condensed/ibmplexsanscondensed-bold.woff2") format("woff2"), url("/jen-bervin/fonts/ibm-plex-sans-condensed/ibmplexsanscondensed-bold.woff") format("woff"), url("/jen-bervin/fonts/ibm-plex-sans-condensed/ibmplexsanscondensed-bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: "IBM Plex Sans Condensed";
  src: url("/jen-bervin/fonts/ibm-plex-sans-condensed/ibmplexsanscondensed-bolditalic.eot");
  src: url("/jen-bervin/fonts/ibm-plex-sans-condensed/ibmplexsanscondensed-bolditalic.eot?#iefix") format("embedded-opentype"), url("/jen-bervin/fonts/ibm-plex-sans-condensed/ibmplexsanscondensed-bolditalic.woff2") format("woff2"), url("/jen-bervin/fonts/ibm-plex-sans-condensed/ibmplexsanscondensed-bolditalic.woff") format("woff"), url("/jen-bervin/fonts/ibm-plex-sans-condensed/ibmplexsanscondensed-bolditalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic; }

@font-face {
  font-family: "Noto Serif";
  src: url("/jen-bervin/fonts/noto-serif/notoserif-regular.eot");
  src: url("/jen-bervin/fonts/noto-serif/notoserif-regular.eot?#iefix") format("embedded-opentype"), url("/jen-bervin/fonts/noto-serif/notoserif-regular.woff2") format("woff2"), url("/jen-bervin/fonts/noto-serif/notoserif-regular.woff") format("woff"), url("/jen-bervin/fonts/noto-serif/notoserif-regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: "Noto Serif";
  src: url("/jen-bervin/fonts/noto-serif/notoserif-italic.eot");
  src: url("/jen-bervin/fonts/noto-serif/notoserif-italic.eot?#iefix") format("embedded-opentype"), url("/jen-bervin/fonts/noto-serif/notoserif-italic.woff2") format("woff2"), url("/jen-bervin/fonts/noto-serif/notoserif-italic.woff") format("woff"), url("/jen-bervin/fonts/noto-serif/notoserif-italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic; }

@font-face {
  font-family: "Noto Serif";
  src: url("/jen-bervin/fonts/noto-serif/notoserif-bold.eot");
  src: url("/jen-bervin/fonts/noto-serif/notoserif-bold.eot?#iefix") format("embedded-opentype"), url("/jen-bervin/fonts/noto-serif/notoserif-bold.woff2") format("woff2"), url("/jen-bervin/fonts/noto-serif/notoserif-bold.woff") format("woff"), url("/jen-bervin/fonts/noto-serif/notoserif-bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: "Noto Serif";
  src: url("/jen-bervin/fonts/noto-serif/notoserif-bolditalic.eot");
  src: url("/jen-bervin/fonts/noto-serif/notoserif-bolditalic.eot?#iefix") format("embedded-opentype"), url("/jen-bervin/fonts/noto-serif/notoserif-bolditalic.woff2") format("woff2"), url("/jen-bervin/fonts/noto-serif/notoserif-bolditalic.woff") format("woff"), url("/jen-bervin/fonts/noto-serif/notoserif-bolditalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic; }

@font-face {
  font-family: "Noto Sans";
  src: url("/jen-bervin/fonts/noto-sans/notosans-regular.eot");
  src: url("/jen-bervin/fonts/noto-sans/notosans-regular.eot?#iefix") format("embedded-opentype"), url("/jen-bervin/fonts/noto-sans/notosans-regular.woff2") format("woff2"), url("/jen-bervin/fonts/noto-sans/notosans-regular.woff") format("woff"), url("/jen-bervin/fonts/noto-sans/notosans-regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: "Noto Sans";
  src: url("/jen-bervin/fonts/noto-sans/notosans-italic.eot");
  src: url("/jen-bervin/fonts/noto-sans/notosans-italic.eot?#iefix") format("embedded-opentype"), url("/jen-bervin/fonts/noto-sans/notosans-italic.woff2") format("woff2"), url("/jen-bervin/fonts/noto-sans/notosans-italic.woff") format("woff"), url("/jen-bervin/fonts/noto-sans/notosans-italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic; }

@font-face {
  font-family: "Noto Sans";
  src: url("/jen-bervin/fonts/noto-sans/notosans-bold.eot");
  src: url("/jen-bervin/fonts/noto-sans/notosans-bold.eot?#iefix") format("embedded-opentype"), url("/jen-bervin/fonts/noto-sans/notosans-bold.woff2") format("woff2"), url("/jen-bervin/fonts/noto-sans/notosans-bold.woff") format("woff"), url("/jen-bervin/fonts/noto-sans/notosans-bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: "Noto Sans";
  src: url("/jen-bervin/fonts/noto-sans/notosans-bolditalic.eot");
  src: url("/jen-bervin/fonts/noto-sans/notosans-bolditalic.eot?#iefix") format("embedded-opentype"), url("/jen-bervin/fonts/noto-sans/notosans-bolditalic.woff2") format("woff2"), url("/jen-bervin/fonts/noto-sans/notosans-bolditalic.woff") format("woff"), url("/jen-bervin/fonts/noto-sans/notosans-bolditalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic; }

/**
* Load material icon font
*/
@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/MaterialIcons-Regular.eot);
  /* For IE6-8 */
  src: local("Material Icons"), local("MaterialIcons-Regular"), url(/jen-bervin/fonts/MaterialIcons-Regular.woff2) format("woff2"), url(/jen-bervin/fonts/MaterialIcons-Regular.woff) format("woff"), url(/jen-bervin/fonts/MaterialIcons-Regular.ttf) format("truetype");
}
